
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: url(https://images.pexels.com/photos/1835718/pexels-photo-1835718.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow: hidden;
    height: 100vh;*/
    font-family: "Poppins", sans-serif;

}

header.card {
    background-color: var(--dark);
    color: var(--light);
    border: none;
}

.uv-index {
    padding: .05rem .15rem;
    border-radius: .2rem;
    background-color: gray;
    color: var(--light);
}

.uv-index.low {
    background-color: green;
}
.uv-index.moderate {
    background-color: yellow;
    color: black;
}
.uv-index.high {
    background-color: orange;
}
.uv-index.very-high {
    background-color: red;
}
.uv-index.extreme {
    background-color: purple;
}

#forecast > .card {
    background-color: lightsalmon;
    color: var(--light);
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }